@import "tailwindcss";

@theme {
	--font-sans: Inter, sans-serif;
	--font-significa: Significa Sans, sans-serif;
	--font-mono: Fira Code, monospace;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@font-face {
	font-family: "Significa Sans";
	src:
		url("fonts/Sohne-Kraftig.woff2") format("woff2"),
		url("fonts/Sohne-Kraftig.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Significa Sans";
	src:
		url("fonts/Sohne-Buch.woff2") format("woff2"),
		url("fonts/Sohne-Buch.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Significa Sans";
	src:
		url("fonts/Sohne-Halbfett.woff2") format("woff2"),
		url("fonts/Sohne-Halbfett.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-significa: "Significa Sans", sans-serif;
	--font-inter: "Inter", sans-serif;
	--font-mono: "Fira Code", monospace;
}

@utility abs-x-center {
	@apply left-1/2 -translate-x-1/2;
}

@utility abs-y-center {
	@apply top-1/2 -translate-y-1/2;
}

@utility abs-center {
	@apply abs-x-center abs-y-center;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@utility fade-in {
	animation: fade-in 1s ease-in-out;
}
