@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Significa Sans";
	src:
		url("fonts/Sohne-Kraftig.woff2") format("woff2"),
		url("fonts/Sohne-Kraftig.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Significa Sans";
	src:
		url("fonts/Sohne-Buch.woff2") format("woff2"),
		url("fonts/Sohne-Buch.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Significa Sans";
	src:
		url("fonts/Sohne-Halbfett.woff2") format("woff2"),
		url("fonts/Sohne-Halbfett.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-significa: "Significa Sans", sans-serif;
	--font-inter: "Inter", sans-serif;
	--font-mono: "Fira Code", monospace;
}
